[Unit]
Description=Jupyterhub service
After=network-online.target

[Service]
Type=simple
EnvironmentFile={{ hub_persistent_volume_path }}/hub/.env
WorkingDirectory={{ hub_persistent_volume_path }}
User=jupyterhub
Group=jupyerhub
UMask=007

ExecStart=/usr/local/bin/jupyterhub -f {{ hub_persistent_volume_path }}/hub/jupyterhub.conf  
Restart=on-failure

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target