[Unit]
Description=Jupyterhub service
After=network-online.target

[Service]
Type=simple
EnvironmentFile={{ hub_persistent_volume_path }}/hub/.env
WorkingDirectory=$JHUB_WORKDIR
User=$JHUB_USER
Group=$JHUB_GROUP
UMask=007

ExecStart=/usr/local/bin/jupyterhub -f $JHUB_CONFIG_FILE  
Restart=on-failure

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target