{
    debug
    storage file_system {{ hub_persistent_volume_path }}/caddy/storage
}

{{ novnc_fqdn }} {
    root * "{{ hub_persistent_volume_path }}/caddy/data/novnc"
    file_server
}

{{ jupyterhub_fqdn }} {
	reverse_proxy http://localhost:8000
}