c = get_config()
import logging
c.JupyterHub.ip = 'localhost'
c.JupyterHub.port = 8000
c.JupyterHub.hub_ip = 'localhost'
c.JupyterHub.hub_port = 8888

# Authentication configuration
c.PAMAuthenticator.open_sessions = False